header {
  padding: 0;
  margin: 0;
  height: 220px;
  width: 375px;
}

body {
  font-family: 'Comfortaa', cursive;
  margin: 0%;
  padding: 0%;
  color: #161616;
}

h1,h2 {
  margin: 0;
}

.icon-navigation {
  margin: -63% -18% 0 3%;
  width: 35px;
  height: 33px;
  background-size: 50px 50px;
  z-index: 100;
}
.icon-back {
  /* height: 100%; */
  z-index: 100;
}

.tittle-container {
  margin: 0;
}
.image-tittle {
  height: 100%;
  width: 100%;
  object-fit: cover;    /* flecha back no funciona */
  /* fixed image responsive */
}

.hero {
  /* border: 1px solid red; */
}
.data{
  font-size: .8em;
  text-align: right;
  margin: .5% 1% 1% 1%;
}
.tittle {
  margin: 6.4% 2.4% 1% 1.7%;
  font-size: 1.85em;
  /* font-style: bold; */
  text-align: left;
}

.resume {
  margin: 0 2.4% 0 1.7%;
}
.introduction {
  margin: inherit;
  font-style: normal;
}

.article {
  /* border: 1px solid red; */
  margin: 2% 1.5% 2% 1.5%;
}
.first-letter {
  font-size: 1em;
}
.post-media {
  height: 249.77px;
  width: auto;
  margin: 0 -1.5% 0 -1.5%;
}
.post-img {
  /* height: 100%; */
  width: 100%;
  position: relative;
  object-fit: cover;
}

.text-post {
  font-size: 1em;
  font-style: normal;
  line-height: 1.5;
}

.footer {
  background-color: #00bebe;
  display: flex;
  justify-content: space-between;
  padding: 1%;
  color: #f7f0f7;
}