<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('partials/head.html'); %>
  <title>El futuro de Youtube Music</title>
  <link rel="stylesheet" href="/css/article.css">
</head>
<body>
  <header>
    <div class="image-container"> 
      <img class="image-tittle" src="/img/article/1/youtube-music.jpg" alt="">
    </div>
    <div class="icon-navigation">
      <a href="/">
        <img class="icon-back" src="/icons/flecha.svg" alt="">
      </a>
    </div>
  </header>
  <section class="hero">
    <p class="data">Oct 10, 2019 12:00 (GMT-5)<br>by <a href="#">Miguel</a></p>
  </section>
  <div class="tittle-container">
    <h1 class="tittle">El futuro del streaming</h1>
  </div>
  <div class="resume-container">
    <h2 class="introduction">La plataforma de google para competir contra los grandes de la musica en streaming</h2>
  </div>
  <section class="article-container">
    <p class="text-post"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rhoncus commodo enim, id feugiat mi dignissim eu. Quisque dapibus dignissim venenatis. Curabitur consectetur purus id vehicula auctor. Morbi tristique vestibulum sodales. Sed bibendum metus lacus, at congue nisi commodo at. Cras in nisi tortor. Nullam libero nulla, elementum nec magna in, scelerisque feugiat magna. Aliquam facilisis felis sit amet velit aliquet porttitor. Mauris ultricies dui non ipsum bibendum dignissim rhoncus vel lacus. Cras venenatis ex quam, vitae fringilla dui dapibus id. Vivamus dapibus iaculis dolor, quis tincidunt felis faucibus vitae. Suspendisse mollis lectus convallis nunc lobortis, id vehicula dolor vestibulum. Morbi ultricies odio tincidunt erat sollicitudin mattis. </p>
    <div class="post-media animated slideInUp">
      <img class="post-img" src="/img/article/1/youtue-music-iso.png" alt="">
    </div>
    <p class="text-post">In hac habitasse platea dictumst. Ut sed ex quis eros lacinia convallis. Etiam a scelerisque ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fringilla metus ut hendrerit ultricies. Vestibulum cursus quam vel vulputate tempor. Phasellus quis diam commodo, hendrerit odio in, semper nisi. Cras ut sodales ante. Praesent convallis mi a erat volutpat pulvinar. Vestibulum ut neque ut dolor tempor volutpat et at erat. Proin arcu nisl, varius et varius ut, commodo quis mauris. Vestibulum congue commodo elit, at auctor magna iaculis ut. Vivamus et bibendum metus, vitae dapibus est. Donec et magna accumsan, dictum justo et, molestie urna. </p>
    <p class="text-post">Sed a magna turpis. Ut imperdiet lacinia turpis eget fringilla. Vivamus molestie, est ut rutrum faucibus, ligula sapien tempus odio, at pharetra sem turpis ac velit. In quis magna vitae augue faucibus finibus. Phasellus aliquet odio in arcu fringilla eleifend. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis non eros at nisl pharetra blandit et vitae orci. Integer lectus ex, malesuada at lacus quis, mollis blandit nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis ac dapibus dui. Integer at libero lacus. </p>
  </section>
  <%- include ('partials/footer.html'); %>
</body>
</html>