<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('partials/head.html'); %>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/home.css">
</head>
<body>
  <header>
    <div class="container">
      <h1>
        <strong>Synaps</strong> <br>Tecnology
      </h1>
    </div>
  </header>
  <div>
  </div>
  <section class="hero">
    <figure class="circle">
      <div class="circle-img">
        <div class="relevant-container">
          <img class="container-img" src="/img/home/media/panel-104131245-image-dda809dd9104f360-320.png" alt="">
        </div>
      </div>
    </figure>
    <figure class="circle">
      <div class="cir-img">
        <img class="container-img" src="/img/home/media/coding_php_code_html_programming_web_java_script_editor_website_development_css_build_program_flat_design_icon-256.png" alt="">
      </div>
    </figure>
    <figure class="circle">
      <div class="cir-img">
        <img class="container-img" src="/img/home/media/icon-startup-new.png" alt="">
      </div>
    </figure>
    <figure class="circle">
      <div class="cir-img">
        <img class="container-img" src="/img/home/media/Reddit-Logo.png" alt="">
      </div>
    </figure>
  </section>
  <section class="carrusel">
    <div class="carousel">
      <img src="/img/home/carrousel/bit.jpg" alt="Image 1" />
      <img src="/img/home/carrousel/twitch.jpg" alt="Image 2" />
      <img src="/img/home/carrousel/redhat.jpg" alt="Image 3" />
      <img src="/img/home/carrousel/uber.jpg" alt="Image 4" />
      <img src="/img/home/carousel/slack1.jpg" alt="Image 5" />    
    </div>
  </section>
  <div>
  </div>
  <hr class="first">
  <section class="theme">
    <div class="post">
      <figure class="post-block">
        <div class="post-img">
          <img class="post-media" src="/img/article/1/youtube-music.jpg" alt="">
        </div>
      </figure>
      <div class="post-text">
        <a href="/article">
          <p class="post-resume">Contenido que es relevante</p>
        </a>
        <p class="post-description">La nueva era en inteligencia artificial</p>
      </div>
    </div>
    <hr>
    <div class="post">
      <figure class="post-block">
        <div class="post-img">
          <img class="post-media" src="./img/amazon-img.jpg" alt="">
        </div>
      </figure>
      <div class="post-text">
        <a href="#">
          <p class="post-resume">Contenido que es relevante</p>
        </a>
        <p class="post-description">La nueva era en inteligencia artificial</p>
      </div>
    </div>
    <hr>
    <div class="post">
      <figure class="post-block">
        <div class="post-img">
          <img class="post-media" src="./img/uber-img.jpg" alt="">
        </div>
      </figure>
      <div class="post-text">
        <a href="#">
          <p class="post-resume">Contenido que es relevante</p>
        </a>
        <p class="post-description">La nueva era en inteligencia artificial</p>
      </div>
    </div>
    <hr>
    <div class="post-inmersiveA">
      <img class="inmersive-media" src="/img/home/article/special/ps_redhat_11.jpg" alt="">
      <div class="imersive-text">
        <a href="./article/article.html">
          <p class="inmersive-resume">El nuevo RedHat</p>
        </a>
        <p class="inmersive-data">by Miguel Garcia | October 3</p>
      </div>
      <p class="box-text">Desing</p>
    </div>
    <hr>
    <div class="post">
      <figure class="post-block">
        <div class="post-img">
          <img class="post-media" src="./img/tesla-logo-design.jpg" alt="">
        </div>
      </figure>
      <div class="post-text">
        <a href="#">
          <p class="post-resume">Contenido que es relevante</p>
        </a>
        <p class="post-description">La nueva era en inteligencia artificial</p>
      </div>
    </div>
    <hr>
    <div class="post">
      <figure class="post-block">
        <div class="post-img">
          <img class="post-media" src="./img/slack.png" alt="">
        </div>
      </figure>
      <div class="post-text">
        <a href="#">
          <p class="post-resume">Contenido que es relevante</p>
        </a>
        <p class="post-description">La nueva era en inteligencia artificial</p>
      </div>
    </div>
    <hr>
    <div class="post">
      <figure class="post-block">
        <div class="post-img">
          <img class="post-media" src="./img/bitso.jpg" alt="">
        </div>
      </figure>
      <div class="post-text">
        <a href="#">
          <p class="post-resume">Contenido que es relevante</p>
        </a>
        <p class="post-description">La nueva era en inteligencia artificial</p>
      </div>
    </div>
    <hr>
  </section>
  <%- include ('partials/footer.html'); %>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="./scripts/carrusel.js"></script>
</body>
</html>