header {  
  background: rgba(12,130,227,1);
  background: -moz-linear-gradient(left, rgba(12,130,227,1) 0%, rgba(91,216,247,1) 76%, rgba(91,216,247,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(12,130,227,1)), color-stop(76%, rgba(91,216,247,1)), color-stop(100%, rgba(91,216,247,1)));
  background: -webkit-linear-gradient(left, rgba(12,130,227,1) 0%, rgba(91,216,247,1) 76%, rgba(91,216,247,1) 100%);
  background: -o-linear-gradient(left, rgba(12,130,227,1) 0%, rgba(91,216,247,1) 76%, rgba(91,216,247,1) 100%);
  background: -ms-linear-gradient(left, rgba(12,130,227,1) 0%, rgba(91,216,247,1) 76%, rgba(91,216,247,1) 100%);
  background: linear-gradient(to right, rgba(12,130,227,1) 0%, rgba(91,216,247,1) 76%, rgba(91,216,247,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c82e3', endColorstr='#5bd8f7', GradientType=1 );  
  margin: 0;
  padding: 0;
  height: 60px;
}

h1 {
  font-weight: normal;
  font-size: 1.5em;
  margin: 0 3% 0 2%;
  color: #f7f0f7;
}

h2,
h3 {
  margin: 1% 2% 1% 2%;
}

body {
  font-family: 'Comfortaa', cursive;
  margin: 0%;
  padding: 0%;
  color: #161616;
}

hr {
  border: 0;
  border-top: 1px solid #5bd8f7;
  margin-left: 15px;
  /* border-bottom: 2px solid #814bff; */
  height: 0;
}

a {
  text-decoration: none;
  color: #161616;
}

a:visited {
  color: inherit;
}
a:hover {
  color: #02c2f1;
}
a:active {
  color: rgb(19, 218, 218);
}

.destacado {
  font-size: 1.2em;
}
.themes {
  font-size: 1em;
}

.first {
  border: 0;
  border-top: 3.2px solid #5bd8f7;
  margin-left: 15px;
  height: 0;
  margin-top: 3px;
}

.header {
  padding: 1.5%;
}

.hero{
  /* padding: 1.5%; */
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin: 1.3% 0 0 0;
}

.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0.5% 0 0.5% 0;
  border: 2px solid rgb(77, 219, 224);
}
.circle-img {
  height: 100%;
  position: relative;
}
.relevant-container {
  height: 100%;
  width: 100%;
}
.container-img {
  height: 100%;
  width: 100%;
}

.carrusel {
  height: 150px;
  overflow: hidden;
}
.carousel {
  margin: 0 auto;
  display: block;
  top: 64px;
}
.carousel img {
  display: hidden; /* hide images until carousel prepares them */
  cursor: pointer; /* not needed if you wrap carousel items in links */
}

.post {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 4% 1% 4% 1%;
}
.post-block {
  width: 115px;
  height: 75px;
  border-radius: 8%;
  overflow: hidden;
  margin: 0;
  /* border: 1px solid red; */
  margin-left: 2%;
}
.post-text {
  margin-left: 2%;
}
.post-img {
  height: 100%;
  width: 100%;
}
.post-media {
  height: 100%;
  width: 100%;
}
.post-resume {
  font-size: 0.99em;
  margin:1% 0 1% 2.5%;
  font-weight: 600;
}
.post-description {
  font-size: 0.75em;
  margin: 0 0 0 1%;
}

.post-inmersiveA {
  width: inherit;
  height: 166px;
  /* border: 1px solid red; */
}
.inmersive-media {
  height: 100%;
  width: 100%;
  margin: 0;
  object-fit: cover;
}
.imersive-text {
  margin: -19% 0 0 4%;
  color: rgb(253, 253, 253);
  -webkit-text-stroke: .5px rgb(228, 228, 228);
  text-shadow: 2px 1px 1px #a8a8a8;
}
.inmersive-resume{
  margin: 0;
  font-size: 1.5em;
  font-style: normal;
}
.inmersive-data {
  margin: 3px;
  font-size: .7em;
}

.box-text {
  width: 60px;
  height: 15px;
  font-size: 1em;
  color: white;
  margin: -38.5% 45% 0 0;
  padding: 6px;
  background-color: rgb(11, 178, 255);
  position: relative;
}

.footer {
  color: black;
  background-color: #00bebe;
  display: flex;
  justify-content: space-between;
  padding: 1%;
  color: #f7f0f7;
}